.container-fluid {
  background-color: #ececec;
}

/* tbody tr td:nth-child(3) {
  word-break: break-all;
} */

.td-edit a {
  text-decoration: none;
}

.td-edit a:hover {
  text-decoration: underline !important;
}

.link-sucess:hover {
  color: #146a42;
}

.link-danger:hover {
  color: #bd2130;
}

.error {
  font-style: italic;
  display: none;
}

.page-link:focus {
  box-shadow: none;
}

.disabled-btn {
  pointer-events: none;
  opacity: 0.5;
}

thead th {
  position: relative;
  cursor: pointer;
}

th .sort-icon {
  position: absolute;
  right: 0.5rem;
}

.sort-btn i {
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s linear;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

#search-input {
  padding: 0.47rem 0.75rem;
}

thead th:hover > .sort-btn i {
  color: rgba(255, 255, 255, 0.8);
}

/* thead th:hover > .fa-sort-up,
thead th:hover > .fa-sort-down {
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.2s linear;
} */

/* Login */

.forms {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  color: #495057;
}

.nav-item {
  flex: 1;
  background-color: #f7f5f5;
}

.nav-tabs .nav-link {
  width: 100%;
  color: #495057;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #222;
}

.nav-tabs .nav-link.active {
  display: block;
  color: #198754;
}

.login-container {
  max-width: 450px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.forgot-password {
  cursor: pointer;
  transition: all 0.3s ease;
}

.forgot-password:hover {
  color: #222;
}

.btn-login,
.btn-signup,
.btn-send-email {
  letter-spacing: 0.05rem;
}

@media (max-width: 576px) {
  .search-container {
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .form-wrapper {
    max-width: 60%;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .form-wrapper {
    max-width: 50%;
  }
}
